body{
    background-color: rgb(236, 239, 250);
     margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}
.form{
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 225, 248);
    width: 400px;
    height: 600px;
border: 5em;
border-color: black;
border-radius: 30px;
}
.form-control{
    width: 250px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
button{
    background-color: rgb(14, 125, 228);
    color: aliceblue;
    border: none;
    border-radius: 20px;
    height: 40px;

}
button:hover{
    background-color: rgb(0, 75, 146);
    
}
button:active{
    background-color: rgb(1, 53, 102);
    color: rgb(206, 213, 219);
   

}
.good{
    font-family: gabriola;
    font-weight: bolder;
    font-size: xx-large;
}